<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> Add Blog</h1>
    <h1><%= user.email %></h1>
    <form method="POST" action="/blog">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input
              type="text"
              class="form-control"
              id="title"
              name="title"
              aria-describedby="title"
            />
          </div>
          <div class="mb-3">
            <label for="body">Body</label>
            <textarea name="body" class="form-control" id="body"></textarea>
          </div>
          <div class="mb-3">
            <button class="btn btn-primary">Submit</button>
          </div>
    </form>
</body>
</html>